body {
  font-family: arial;
  font-size: 14px;
  margin: 0;
}

header {
  margin: 0;
}

footer {
  padding: 10px 100px 0px 100px;
  margin: 0;
}

h1 {
  font-size: 30px;
  padding: 50px 100px 0px 100px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 18px;
  padding: 10px 10px 0px 60px;
  margin: 0;
}

nav ul li a {
  margin: 0;
}
