body {
  font-family: arial;
  font-size: 18px;
  margin: 0;
}

header {
  margin: 0;
}

h1 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

nav ul li a {

}
