body {
  background: #1000;
  font-family: arial;
  margin: 0;
}

header {
  background: #1000;
  color: black;
  padding: 10px 10px 0 20px
}

header h1 {
  margin: 0;
  display: inline;
}

nav ul {
  padding: 0 0 0 20px;
  margin: 0;
  display: inline;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  color: black;
  padding: 5px 20px;
  margin: 0;
}

nav ul li a {
  color: black;
}
